:root{
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}

header .nav-content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    animation: slideRight 1s ease forwards;
}

nav .logo:hover{
    color: var(--primary-color-dark);
    cursor: pointer;
}

nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    animation: slideLeft 1s ease forwards;
}

nav ul li a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-weight: 600;
    color: var(--text-dark);
}

nav ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section{
    background-color: var(--extra-light);
}

.home{
    min-height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex;
    max-width: 500px;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
    opacity: 0;
    animation: slideRight 0.7s ease forwards;
    animation-delay: 0.7s;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    opacity: 0;
    animation: slideLeft 0.7s ease forwards;
    animation-delay: 0.7s
}
.content h3{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    opacity: 0;
    animation: slideLeft 0.7s ease forwards;
    animation-delay: 0.7s
}
.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    opacity: 0;
    animation: slideRight 0.7s ease forwards;
    animation-delay: 0.7s
}

.see-more{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    opacity: 0;
    animation: slideTop 0.7s ease forwards;
    animation-delay: 0.7s
}

.see-more:hover{
    background-color: var(--primary-color-dark);
}

.image img{
    max-width: 320px;
    border-radius: 100%;
    border: 10px solid var(--primary-color);
    animation: zoomIn 2s ease forwards, floatImage 4s ease-in-out infinite;
}

.home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (width < 750px){
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;    
    }
    
    ul li a{
        font-size: 1.25rem;
    }
}

.hidden{
    display: none;
}

.services{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.services h1, .works h1, .about h1, .contact h1{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 25px;
    margin-bottom: 30px;
}
.service-item{
    flex-basis: 20%;
    width: 160px;
    height: 200px;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    color: var(--extra-light);
}
.service-item:hover{
    box-shadow: 0 0 10px var(--primary-color-dark);
    cursor: pointer;
}

.works, .about, .contact{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.work-item{
    flex-basis: 20%;
    width: 160px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.work-item img{
    width: 100%;
    object-fit: cover;
}

.work-item .layer{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.work-item .layer:hover{
    cursor: pointer;
    background: rgba(0, 0, 200, 0.8);
}
.work-item .layer h4{
    position: absolute;
    width: 100%;
    font-weight: 600;
    color: var(--primary-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.work-item .layer .work-content{
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
}
.work-item .layer:hover .work-content{
    opacity: 1;
    top: 10%;
    transition: 1s;
}
.about-item img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: -40px;
}
.about-item{
    flex-basis: 30%;
    width: 230px;
    height: 400px;
    background: var(--primary-color);
    box-sizing: border-box;
    color: var(--primary-color);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.about-item .about-content{
    color: white;
    padding: 15px 10px;
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-14px);
    }
    100%{
        transform: translateY(0);
    }
}

@media(max-width: 750px) {
    nav .logo{
        font-size: 1.2rem;
    } 
    .nav-content ul{
        position: absolute;
        width: 100%;
        max-width: var(--max-width);
        height: 100vh;
        right: 0;
        top: 65px;
        background: var(--extra-light);
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
    }
    .nav-content ul li a {
        color: var(--text-dark);
        font-size: medium;
    }
}
